@font-face {
    font-family: montserrat;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

html {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: montserrat, sans-serif
}

body {
    margin: 2em 5em;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 5em 0;
    font-family: inherit;
    font-size: 15px;
    transition: background-color 0.3s ease-in;
    background: none;
}

button:hover {
    background-color: black;
    color: yellow;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

header{
    display: flex;
    justify-content: space-between;
}

dialog {
    border: 1px solid black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#bookForm input {
    font-family: inherit;
    font-size: 15px;
    padding: 5px;
}

#bookForm input:focus-visible {
    outline: 1px solid yellow;
}

}